/* line 1, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.float-right {
  float: right;
}

/* line 5, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.align-items-center {
  display: flex;
  align-items: center;
}

/* line 10, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.align-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 16, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

/* line 22, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.btn-primary {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

/* line 28, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

/* line 34, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.vertical-align-middle {
  vertical-align: middle;
}

/* line 38, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.text-align-center {
  text-align: center;
}

/* line 42, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.fifty_width {
  width: 50%;
}

/* line 46, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.image-logo-sm {
  width: 176px;
  height: auto;
}

/* line 51, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.image-logo-lg {
  width: 350px;
  height: auto;
}

/* line 56, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.image-size-logo-nav {
  float: left;
  width: 30px;
  margin: -35px -5px 0 30px;
  position: relative;
  z-index: 1;
}

/* line 64, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.middle > * {
  vertical-align: middle;
}
