/* line 1, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.float-right {
  float: right;
}

/* line 5, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.align-items-center {
  display: flex;
  align-items: center;
}

/* line 10, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.align-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 16, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

/* line 22, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.btn-primary {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

/* line 28, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

/* line 34, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.vertical-align-middle {
  vertical-align: middle;
}

/* line 38, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.text-align-center {
  text-align: center;
}

/* line 42, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.fifty_width {
  width: 50%;
}

/* line 46, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.image-logo-sm {
  width: 176px;
  height: auto;
}

/* line 51, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.image-logo-lg {
  width: 350px;
  height: auto;
}

/* line 56, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.image-size-logo-nav {
  float: left;
  width: 30px;
  margin: -35px -5px 0 30px;
  position: relative;
  z-index: 1;
}

/* line 64, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.middle > * {
  vertical-align: middle;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/assets/fa-brands-400-407a9723fc717c94e287496080d773e18e29c3cac49e2630172343c65c0864a8.eot);
  src: url(/assets/fa-brands-400-407a9723fc717c94e287496080d773e18e29c3cac49e2630172343c65c0864a8.eot?#iefix) format("embedded-opentype"), url(/assets/fa-brands-400-43c072c16c9ee6d67acdfa6c6d6685ff1e74eb4237b7cc3c1348ab1c108b26af.woff2) format("woff2"), url(/assets/fa-brands-400-aff76e5c986f295d4bc6f8142a78e2a31888b101c2d025db89f79c75f64fd90b.woff) format("woff"), url(/assets/fa-brands-400-06f4d00923ea24697df5df0b92984175991d8bd25776a02d531bb401e393ec42.ttf) format("truetype"), url(/assets/fa-brands-400-679b5a5216bbdf913cc22d6ae44778c1ef975ee387a6c4c5de87e75d19a22232.svg#fontawesome) format("svg");
}
/* line 76, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/assets/fa-regular-400-cf83ffb8cf0023bd439dfdd5d02f1954b6ee027e85897d6cfc5f90bbca9ec1d2.eot);
  src: url(/assets/fa-regular-400-cf83ffb8cf0023bd439dfdd5d02f1954b6ee027e85897d6cfc5f90bbca9ec1d2.eot?#iefix) format("embedded-opentype"), url(/assets/fa-regular-400-8afc6e5e842baab16010c2ce6fcf48ec4ded8e1579a37c1f1bc027e120d04951.woff2) format("woff2"), url(/assets/fa-regular-400-14c9db4ff87fde08f67b0a69dd594bab6d87174812a0dbd34c59833bfed8cc0e.woff) format("woff"), url(/assets/fa-regular-400-c651b8a67d3193206f622c3c3b0fbca4a2f2727108c4212b52c1e2a2e84c9b31.ttf) format("truetype"), url(/assets/fa-regular-400-2326849b6c3dfa217a0e9ecaec9553c910a4e2987c87315c85073d2b95a484f3.svg#fontawesome) format("svg");
}
/* line 87, /home/fabricio/projetos/gamedesk/app/assets/stylesheets/custom.scss */
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(/assets/fa-solid-900-75a761159ae266c5332a4f266e07a5543712ffb76ee0260b07782195c04dc364.eot);
  src: url(/assets/fa-solid-900-75a761159ae266c5332a4f266e07a5543712ffb76ee0260b07782195c04dc364.eot?#iefix) format("embedded-opentype"), url(/assets/fa-solid-900-d0b4256abed72481585662971262eabee345c19f837af00d7ce24239d3b40eef.woff2) format("woff2"), url(/assets/fa-solid-900-74edc18b67c487e32f181719fdb347e2e77020744651f446e9acd7bd6821e2e7.woff) format("woff"), url(/assets/fa-solid-900-3d06af1f31cd83ace7a265a014b8fb5dee15770ecac8f7a55555190e627e03c2.ttf) format("truetype"), url(/assets/fa-solid-900-fa498fb2596a5235c5c86d7b68a7fbe76e9855c01af4b0e5ab41c41047c648e0.svg#fontawesome) format("svg");
}
