<div class="card card-primary">
  <div class="card-header">
    <h4>Conquistas</h4>
    <div class="card-header-action">
      <a data-collapse="#achievements-itens" class="btn btn-icon btn-warning" href="#"><i class="fas fa-minus"></i></a>
    </div>
  </div>
  <div class="collapse show" id="achievements-itens" style="">
    <div class="card-body">
      <div class="gallery gallery-md">
        <% @achievements.order(:order).each do |icone| %>
          <%= link_to open_achievements_user_achievements_path(id: icone.id), { remote: true, 'data-toggle' => "modal", 'data-target' => '#modal-window' } do %>
            <%= image_tag icone.image, class: "gallery-item #{@user_achievements
              .map(&:achievement_id).include?(icone.id) ? '' : 'filter-grayscale'}" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
