.float-right {
  float: right;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.element-center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.align-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary:hover {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

.btn-primary {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
}

.vertical-align-middle {
  vertical-align: middle;
}

.text-align-center {
  text-align: center !important;
}

.fifty_width {
  width: 50%;
}

.image-logo-sm {
  width: 176px;
  height: auto;
}

.image-logo-lg {
  width: 350px;
  height: auto;
}

.image-size-logo-nav {
  float: left;
  width: 30px;
  margin: -35px -5px 0 30px;
  position: relative;
  z-index: 1;
}

.middle > * {
  vertical-align: middle;
}

.icon-achievement {
  color: #e3eaef;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  position: relative;
  vertical-align: middle;
  line-height: 1.28;
  height: 45px;
  width: 45px;
}

.filter-grayscale {
  filter: grayscale(1) invert(1);
}

.margin-top-15 {
  margin-top: 15px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.no-padding {
  padding: 0 !important;
}

.background-transparent {
  background-color: rgba(0, 0, 0, 0.5) !important
}

.card.pulse-black {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.card.pulse-danger {
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-danger 1s infinite;
}

@keyframes pulse-danger {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.card.pulse-success {
  box-shadow: 0 0 0 0 rgba(67, 172, 106, 1);
  animation: pulse-success 5s infinite;
}

@keyframes pulse-success {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(67, 172, 106, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(67, 172, 106, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(67, 172, 106, 0);
  }
}

.card.pulse-info {
  box-shadow: 0 0 0 0 rgba(118, 120, 237, 1);
  animation: pulse-info 4s infinite;
}

@keyframes pulse-info {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(118, 120, 237, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(118, 120, 237, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(118, 120, 237, 0);
  }
}

.center-img-perfil {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100px;
  margin: -35px -5px 0 30px;
  position: relative;
  z-index: 1;
}

.outter-badge {
  position: relative;
  margin: 10px;
  background: #fff;
  width: 64px;
}

.inner-badge {
  display: table;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #2D2D2D;
  color:white;
  background:#2D2D2D;
  border-radius: 50%;
  top: 35px;
  right: -70px;
  background-size: cover;
  text-align: center;
  z-index: 10;
}

.inner-badge p{
  display: table-cell;
  vertical-align: middle;
  padding: 1px;
}

.background-grey {
  background-color: rgba(0, 0, 0, 0.04);
  color: #666;
}